main {
    position: absolute;
    padding-top: 60px;
    padding-bottom: 80px;
}

#page-main {
    width: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    display: block;
}

#main-div {
    font-size: 32px;
}

#categorii-veh {
    position: relative;
    font-size: 24px;
    padding-left: 5%;

}

#categorii-veh a img {
    padding-bottom: 20px;

}

#categorii-veh a {
    text-decoration: none;
}


.main-poza img{
    position: relative;
    width: auto;
    max-width: 45%;
    height:auto;
    max-height: 45%;
}

.big-text {
    font-size: 52px;
}

.photo-car {
    position: relative;
    max-width: 100%;
}

#column-div {
    font-size: 32px;
    column-count: 3;
    column-gap: 50px;
    column-rule-color: #bfbfbf;
    column-rule-style: solid;
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
}

.column-span {
    column-span: all;
}

.col dl dt {
    font-size: 26px;

}

.col dl dd {
    font-size: 20px;
}

sup {
    font-size: 12px!important;
    vertical-align: super;
}

#main-div h1{
    font-size: 26px;
    padding-left: 20px;
}

#main-div h2{
    font-size: 22px;
    padding-left: 50px;
}

#main-div dl dt {
   font-size: 24px;
    padding-left: 25px;
}

#main-div dd {
    font-size: 20px;
    padding-left: 50px;
}

#main-div p {
    font-size: 24px;
}
address {
    font-size: 22px;
    padding-left: 50px;
}

/*


#main-body{
    min-height: 100%;
    display: block;
    background-image: url("main-background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 1px black;

}

#main-body-text {
    color: white;
    position: absolute;
    top: 25%;
    font-size: 52px;
    left: 5%;
}
*/