main {
    position: absolute;
    padding-top: 60px;
    padding-bottom: 80px;
}

#page-main {
    width: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    display: block;
}

#main-div {
    font-size: 32px;
}

#grid-container {
    position: relative;
    font-size: 24px;
    padding-left: 2%;
    padding-bottom: 5%;
    display: grid;
    grid-column-gap: 3%;
    grid-gap: 2%;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
    padding: 5px;

}

#grid-container div a img {
    padding-bottom: 20px;

}

#grid-container div a {
    text-decoration: none;
}



.main-poza img{
    position: relative;
    max-width: 100%;
    height: 200px;

}

.big-text {
    font-size: 52px;
}

.photo-car {
    position: relative;
    max-width: 100%;
}

#column-div {
    font-size: 32px;
    column-count: 3;
    column-gap: 50px;
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
}

.column-span {
    column-span: all;
}

.col dl dt {
    font-size: 26px;

}

.col dl dd {
    font-size: 20px;
}

sup {
    font-size: 12px!important;
    vertical-align: super;
}

#main-div h1{
    font-size: 26px;
    padding-left: 20px;
}

#main-div h2{
    font-size: 22px;
    padding-left: 50px;
}

#main-div dl dt {
   font-size: 24px;
    padding-left: 25px;
}

#main-div dd {
    font-size: 20px;
    padding-left: 50px;
}

#main-div p {
    font-size: 24px;
}
address {
    font-size: 22px;
    padding-left: 50px;
}

#stergeToate {
    float: right;
}

#recuperare {
    float:right;
}

@media only screen and (orientation: portrait) {
    #grid-container {
        grid-column-gap: 2%;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {
    #grid-container {
        grid-template-columns: none;
        padding-bottom: 30%;
    }
}

#adauga {
   font-size: 1rem;
}

#formAdauga {
    display: none;
}

.sterge {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
}

.sterge:hover {
    cursor: pointer;
    color: blue;
}



/*


#main-body{
    min-height: 100%;
    display: block;
    background-image: url("main-background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 1px black;

}

#main-body-text {
    color: white;
    position: absolute;
    top: 25%;
    font-size: 52px;
    left: 5%;
}
*/