<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Visla Adrian">
    <meta name="description" content="Lista cu masini tip sedan">
    <meta name="keywords" content="Sedan, Masini, Specificatii">
    <link rel="icon" type="image/x-icon" href="../resurse/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../resurse/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../resurse/css/site-secundar.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Car Spec - <%= title%></title>
</head>
<body>
<header id="page-header">
    <div id="title-index">
        <h1>CAR-SPEC</h1>
    </div>
    <%- include('./fragmente/header.ejs') %>
</header>

<main id="main-body">
    <section id="main-body-text">
        <h2>404 - Pagina inexistenta.</h2>
    </section>
</main>

<footer id="page-footer">
    <%- include('./fragmente/footer.ejs') %>
</footer>
</body>
</html>