<!DOCTYPE html>
<html lang="ro">
<%- include('./fragmente/head.ejs') %>

<body>
<header id="page-header">
    <%- include('./fragmente/header.ejs') %>
</header>

<main id="page-main">
        <p class="big-text">Alfa Romeo Giulia Quadrifoglio</p>
    <img src="../resurse/img/a-r-g-q.jpg" alt="Alfa Romeo Giulia Quadrifogilio" title="Alfa Romeo Giulia Quadrifoglio" class="photo-car">
    <p>Unitati de masura:</p>
    <form id="unitMasura">
        <input type="radio" id="metric" name="unitate" value="metric" checked="checked">
        <label for="metric">metric</label>
        <input type="radio" id="imperial" name="unitate" value="imperial">
        <label for="imperial">imperial</label>
    </form>
    <div id="column-div">
        <div class="col">
            <p>Informatii generale</p>
            <dl>
                <dt>Marca</dt>
                <dd>Alfa Romeo</dd>
                <dt>Model</dt>
                <dd>Giulia</dd>
                <dt>Ani de productie</dt>
                <dd>2016 - prezent</dd>
                <dt>Numar de scaune</dt>
                <dd>4</dd>
                <dt>Numar de usi</dt>
                <dd>4</dd>
            </dl>
        </div>
        <div class="col">
            <p> Motor</p>
            <dl>
                <dt>Putere</dt>
                <dd id="putere">510 CP @ 6500 rot/min</dd>
                <dt>Cuplu</dt>
                <dd id="cuplu">600 Nm @ 2500 rot/min</dd>
                <dt>Volumul motorului</dt>
                <dd id="cc">2891 cm<sup>3</sup> (2.9L)</dd>
                <dt>Numarul de cilindri</dt>
                <dd>6</dd>
                <dt>Pozitionarea cilindrilor</dt>
                <dd>in forma de V</dd>
                <dt>Diametrul cilindrilor</dt>
                <dd class="dim">86.5 mm</dd>
                <dt>Cursa cilindrilor</dt>
                <dd class="dim">82 mm</dd>
                <dt><a href="tt.ejs#termeni-motor">Turbosuflanta</a> (link)</dt>
                <dd>Da</dd>
            </dl>
        </div>
        <div class="col">
            <p>Greutate si dimensiune</p>
            <dl>
                <dt>Masa proprie</dt>
                <dd id="greutate">1580 kg</dd>
                <dt>Lungime</dt>
                <dd class="dim">4639 mm</dd>
                <dt>Latime</dt>
                <dd class="dim">1873 mm</dd>
                <dt>Inaltime</dt>
                <dd class="dim">1426 mm</dd>
            </dl>
        </div>
    </div>
</main>

<footer id="page-footer">
    <%- include('./fragmente/footer.ejs') %>
</footer>

</body>
<script src="../resurse/js/conversie.js"></script>
</html>