<!DOCTYPE html>
<html lang="ro">
<%- include('./fragmente/head.ejs') %>

<body>
<header id="page-header">
    <%- include('./fragmente/header.ejs') %>
</header>

<main id="page-main">
    <div id="main-div">
        <p lang="en">Contact us!</p>
        <h2>E-mail: <a href="mailto:visla.adrian@gmail.com">visla.adrian@gmail.com</a></h2>
        <address>Romania, Bucuresti</address>
    </div>
    <button id="rainbow">culori</button>
</main>

<footer id="page-footer">
    <%- include('./fragmente/footer.ejs') %>
</footer>

</body>
<script src="../resurse/js/random.js"></script>
</html>