<!DOCTYPE html>
<html lang="ro">

<%- include('./fragmente/head.ejs') %>
<body>
<header id="page-header">
    <%- include('./fragmente/header.ejs') %>
</header>

<main id="page-main">
    <section id="main-body-text">
        <h2>Te-ai deconectat cu succes.</h2>
    </section>
</main>

<footer id="page-footer">
    <%- include('./fragmente/footer.ejs') %>
</footer>
</body>
</html>