<!DOCTYPE html>
<html lang="ro">
<%- include('./fragmente/head.ejs') %>

<body>
<header id="page-header">
    <%- include('./fragmente/header.ejs') %>
</header>

<footer id="page-footer">
    <%- include('./fragmente/footer.ejs') %>
</footer>

</body>

</html>