<!DOCTYPE html>
<html lang="ro">
<%- include('./fragmente/head.ejs') %>

<body>
<header id="page-header">

    <div id="title-index">
        <h1>CAR-SPEC</h1>
    </div>
    <%- include('./fragmente/header.ejs') %>
</header>

<main id="main-body">
    <section id="main-body-text">
        <h2>Gasesti toate informatiile despre autovehicule.</h2>
        <h2>Poti incepe cautarea prin selectarea unei categorii.</h2>
        <p><span id="main-body-low-text">Alternativ, te putem trimite noi la prima <a href="sedan.ejs">categorie.</a></span></p>
    </section>
</main>

<footer id="page-footer">
    <%- include('./fragmente/footer.ejs') %>
</footer>

</body>

</html>