<!DOCTYPE html>
<html lang="ro">
<%- include('./fragmente/head.ejs') %>

<body>
<header id="page-header">
    <%- include('./fragmente/header.ejs') %>
</header>

<main id="page-main">
    <div id="main-div">
        <a href="alfa-romeo-giulia-quadrifoglio.ejs" class="main-poza">
            <p>Alfa Romeo Giulia Quadrifoglio</p>
            <img src="../resurse/img/alfa-romeo-giulia-quadrifoglio.jpg" alt="Alfa Romeo Giulia Quadrifoglio" title="Alfa Romeo Giulia Quadrifoglio">
        </a>
    </div>
</main>

<footer id="page-footer">
    <%- include('./fragmente/footer.ejs') %>
</footer>

</body>

</html>