<nav id="main-nav">
    <ul>
        <li><a href="index.ejs">ACASA</a></li>
        <li id="dropdown"><a href="categorii.ejs">CATEGORII</a>
            <ul>
                <li><a href="/sedan.ejs">SEDAN</a></li>
                <li><a href="/hatchback.ejs">HATCHBACK</a></li>
                <li><a href="/coupe.ejs">COUPE</a></li>
                <li><a href="/break.ejs">BREAK</a></li>
                <li><a href="/cabriolet.ejs">CABRIOLET</a></li>
                <li><a href="/404.ejs">TEST 404</a></li></li>
            </ul>
        </li>
        <li><a href="/tt.ejs">TERMENI TEHNICI</a></li>
        <li><a href="/contact.ejs">CONTACT</a></li>
        <li><a href="/create.ejs">CREATE</a></li>
    </ul>
</nav>
<% if(!userId) { %>
    <div id="login">
        <form action='/login' id="login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="parola">Parola:</label>
            <input type="text" id="parola" name="parola">
            <input type="submit" value="Login">
        </form>
    </div>
<% } else { %>
    <p>Esti conectat.</p>
    <a href="/disconnect.ejs">Deconectare</a>
<% } %>