<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Visla Adrian">
    <meta name="description" content="Informatii despre masini">
    <meta name="keywords" content="Auto, Masini, Specificatii">
    <link rel="icon" type="image/x-icon" href="/resurse/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/site-secundar.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Car Spec | <%= title%></title>
</head>