<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Visla Adrian">
    <meta name="description" content="Lista cu masini tip break">
    <meta name="keywords" content="Break, Masini, Specificatii">
    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/site-secundar.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Car Spec - Break</title>

</head>

<body>
<header id="page-header">
    <nav id="main-nav">
        <ul>
            <li><a href="../index.html">ACASA</a></li>
            <li id="dropdown"><a href="../categorii.html">CATEGORII</a>
                <ul>
                    <li><a href="sedan.html">SEDAN</a></li>
                    <li><a href="hatchback.html">HATCHBACK</a></li>
                    <li><a href="coupe.html">COUPE</a></li>
                    <li><a href="break.html" id="active">BREAK</a></li>
                    <li><a href="cabriolet.html">CABRIOLET</a></li>
                </ul>
            </li>
            <li><a href="../tt.html">TERMENI TEHNICI</a></li>
            <li><a href="../contact.html">CONTACT</a></li>
        </ul>
    </nav>
</header>

<footer id="page-footer">
    <a href="#">Inapoi sus</a>
    <p> © car-spec 2020</p>
</footer>

</body>

</html>